.app.light {
  --bg-color: #e8e8ea;

  --inverted-bg-color: #0c0c7f;

  --primary-color: #041c65;
  --secondary-color: #0450f5;

  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}
